<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbonejs</title>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <script src="../bower_components/backbone/backbone-min.js"></script>
</head>
<body>
<script type="template/underscore" id="comment-template">
  <p><%= name %></p>
  <p><%= comment %></p>
</script>
<div id="app-container"></div>
<div class="new-comment">
  <form action="#" class="new-comment-form">
    <label for="name">Nome</label>
    <input type="text" name="name">
    <label for="comment">Comentário</label>
    <textarea name="comment" cols="30" rows="10"></textarea>
    <input type="submit" value="Comentar">
  </form>
</div>
<script src="main.js"></script>
</body>
</html>